<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부산국제매직페스티벌</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="wrap">
        <div id="visual-2">
            <div class="contents">
                <h1>부산국제매직페스티벌</h1>
                <hr>
                <p lang="en">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque maxime error fugiat, non, accusantium atque. Dolores velit, reiciendis repellendus odit illo unde. Qui error labore perferendis quos veritatis, voluptatibus itaque.</p>
                <button class="btn btn-light" lang="en">Learn more</button>
            </div>
            <div class="images">
                <img src="images/slide_1.jpg" title="비쥬얼 이미지" alt="비쥬얼 이미지">
                <img src="images/slide_2.jpg" title="비쥬얼 이미지" alt="비쥬얼 이미지">
                <img src="images/slide_3.jpg" title="비쥬얼 이미지" alt="비쥬얼 이미지">
            </div>
        </div>
    </div>
</body>
</html>